<%- include('partials/header') %>
    <!-- restaurant section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="text-center">
                
                <h1 class="search-h1">Ne Yemek İstersin? </h1>
                    <div class="user_option">
                        <a id="searchButton" class="order_online" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Aramaya Başla
                        </a>
                    </div>
                    <form action="/test" method="post">
                        <div class="row justify-content-center collapse" id="collapseSearch">
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="baseSelect" id="base-select" class="w-100 selectpicker" data-style="btn-select" title="Yemek Seçiniz..." data-dropup-auto="false" onchange="onBaseSelectChange()" multiple>
                                    <% baseFoods.forEach(function(baseFood) { %>
                                        <option data-icon="<%= baseFood.icon %>" value="<%= baseFood._id %>"><%= baseFood.name %></option>
                                      <% }) %>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select disabled name="categorySelect" id="category-select" class="w-100 selectpicker" data-style="btn-select" title="Genel Yemek Seçiniz..." data-dropup-auto="false" onchange="onCategorySelectChange()" multiple >
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select disabled name="foodSelect" id="food-select" class="w-100 selectpicker" data-style="btn-select" multiple title="Restoranda sizin için ne önemli?" data-dropup-auto="false" >
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <button class="w-50 btn btn-success" type="submit">Restoranları Filtrele</button>
                            </div>
                        </div>
                </form>
                <br><h2>Önerilen Restoranlar</h2>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    <% for (let i = 0; i < restaurants.length; i++) { %>
                        <% let restaurantStars = stars.filter(star => star.restaurant._id.toString() === restaurants[i]._id.toString()); %>
                        <% let totalStars = 0; %>
                        <% let averageStars = 0; %>
                        <% if (restaurantStars.length > 0) { %>
                          <% for (let j = 0; j < restaurantStars.length; j++) { %>
                            <% totalStars += restaurantStars[j].speed + restaurantStars[j].taste + restaurantStars[j].price; %>
                          <% } %>
                          <% averageStars = totalStars / (restaurantStars.length * 3); %>
                        <% } %>
                        <div class="col-sm-6 col-lg-4 all burger">
                          <a href="restaurants/<%= restaurants[i]._id %>">
                            <div class="box restoranlar-part">
                              <div class="img-box">
                                <img src="images/<%=restaurants[i].image %>" alt="">
                              </div>
                              <div class="detail-box">
                                <h2><%=restaurants[i].name %></h2>
                                <h6>Tel No: <%=restaurants[i].number %></h6>
                                <h6>Çalışma Saatleri: <%=restaurants[i].open %> - <%=restaurants[i].close %></h6>
                                <div class="ratings">
                                  <% let fullStars = Math.floor(averageStars); %>
                                  <% let hasHalfStar = averageStars - fullStars >= 0.5; %>
                                  <% let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); %>
                                  <% for (let k = 0; k < fullStars; k++) { %>
                                    <i class="fa fa-star rating-color"></i>
                                  <% } %>
                                  <% if (hasHalfStar) { %>
                                    <i class="fa-solid fa-star-half-stroke rating-color"></i>
                                  <% } %>
                                  <% for (let k = 0; k < emptyStars; k++) { %>
                                    <i class="fa fa-star"></i>
                                  <% } %>
                                </div>
                                <% if (averageStars > 0) { %>
                                    <p>Puan: <%= Math.floor(averageStars * 10) / 10 %></p>
                                <% } %>
                              </div>
                            </div>
                          </a>
                        </div>
                      <% } %>
                      
                </div>
            </div>
        </div>
    </section>
    <!-- end restaurant section -->
<%- include('partials/footer') %>