<%- include('partials/header') %>
    <!-- restaurant section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="text-center">
                
                <h1 class="search-h1">Ne Yemek İstersin? </h1>
                    <div class="user_option">
                        <a id="searchButton" class="order_online" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Aramaya Başla
                        </a>
                    </div>
                    <form action="/restoranFiltrele" method="post">
                        <div class="row justify-content-center collapse" id="collapseSearch">
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="baseSelect" id="base-select" class="w-100 selectpicker" data-style="btn-select" title="Yemek Seçiniz..." data-dropup-auto="false" onchange="onBaseSelectChange()" multiple required>
                                    <% baseFoods.forEach(function(baseFood) { %>
                                        <option data-icon="<%= baseFood.icon %>" value="<%= baseFood._id %>"><%= baseFood.name %></option>
                                      <% }) %>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select disabled name="categorySelect" id="category-select" class="w-100 selectpicker" data-style="btn-select" title="Genel Yemek Seçiniz..." data-dropup-auto="false" onchange="" multiple required>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="priorities" id="priorities" class="w-100 selectpicker" data-style="btn-select" multiple title="Restoranda sizin için ne önemli?" data-dropup-auto="false" multiple required>
                                  <option data-icon="fa-duotone fa-bell-concierge" value="Hiz">Hız</option>
                                  <option data-icon="fa-solid fa-face-smile-tongue" value="Tat">Tat</option>
                                  <option data-icon="fa-solid fa-badge-dollar" value="Fiyat">Fiyat</option>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <button class="w-50 btn btn-success" type="submit">Restoranları Filtrele</button>
                            </div>
                        </div>
                </form>
                <br><h2>Önerilen Restoranlar</h2>
            </div>
            <div class="filters-content">
              <div class="row grid">
                <% const sortedRestaurants = restaurants.sort((a, b) => {
                  const restaurantAStars = stars.filter(star => star.restaurant._id.toString() === a._id.toString());
                  const restaurantBStars = stars.filter(star => star.restaurant._id.toString() === b._id.toString());
                  const totalStarsA = restaurantAStars.reduce((total, star) => total + star.speed + star.taste + star.price, 0);
                  const totalStarsB = restaurantBStars.reduce((total, star) => total + star.speed + star.taste + star.price, 0);
                  const averageStarsA = totalStarsA / (restaurantAStars.length * 3);
                  const averageStarsB = totalStarsB / (restaurantBStars.length * 3);
                  return averageStarsB - averageStarsA; // Sort in descending order
                }); %>

                <%if(sortedRestaurants.length>3){
                  sortedRestaurants.length = 3;
                }%>
                <% for (let i = 0; i < sortedRestaurants.length; i++) { %>
                  <% const restaurant = sortedRestaurants[i]; %>
                  <div class="col-sm-6 col-lg-4 all burger">
                    <a href="restaurants/<%= restaurant._id %>">
                      <div class="box restoranlar-part">
                        <div class="img-box">
                          <img src="images/<%= restaurant.image %>" alt="">
                        </div>
                        <div class="detail-box">
                          <h2><%= restaurant.name %></h2>
                          <h6>Tel No: <%= restaurant.number %></h6>
                          <h6>Çalışma Saatleri: <%= restaurant.open %> - <%= restaurant.close %></h6>
                          <div class="ratings">
                            <% const restaurantStars = stars.filter(star => star.restaurant._id.toString() === restaurant._id.toString()); %>
                            <% const totalStars = restaurantStars.reduce((total, star) => total + star.speed + star.taste + star.price, 0); %>
                            <% const averageStars = totalStars / (restaurantStars.length * 3); %>
                            <% const fullStars = Math.floor(averageStars); %>
                            <% const hasHalfStar = averageStars - fullStars >= 0.5; %>
                            <% const emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); %>
                            <% for (let k = 0; k < fullStars; k++) { %>
                              <i class="fa fa-star rating-color"></i>
                            <% } %>
                            <% if (hasHalfStar) { %>
                              <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            <% } %>
                            <% for (let k = 0; k < emptyStars; k++) { %>
                              <i class="fa fa-star"></i>
                            <% } %>
                          </div>
                          <% if (averageStars > 0) { %>
                            <p>Puan: <%= Math.floor(averageStars * 10) / 10 %></p>
                          <% } %>
                        </div>
                      </div>
                    </a>
                  </div>
                <% } %>
              </div>
            </div>
            
    </section>
    <!-- end restaurant section -->
<%- include('partials/footer') %>