<%- include('partials/header') %>
    <!-- food section -->
    <section class="food_section layout_padding food_layout">
        <div class="container">
            <div class="heading_container heading_center">
                <div class="row">
                    <div class="col-lg-6">
                        <h2><%=restaurant.name%></h2>
                    </div>
                    <div class="col-lg-6 alert alert-warning">
                        <p><%=restaurant.number%></p>
                        <p>Çalışma Saatleri: <%=restaurant.open%> - <%=restaurant.close%></p>
                        <a href="<%=restaurant.location%>" target="_blank" class="btn btn-secondary">Konum</a>
                    </div>
                    <!-- <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light Panel title</h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        
            <!--<ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>
                <li data-filter=".burger">Burger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">İçecekler</li>
            </ul>-->


            <ul class="filters_menu">
              <li class="active" data-filter="*">Hepsi</li>
              <% let categoryNames = []; %>
              <% foods.forEach((food) => { %>
                <% food.category.forEach((category) => { %>
                  <% if (category.name && !categoryNames.includes(category.name)) { %>
                    <li data-filter=".<%= category.name.toLowerCase() %>"><%= category.name %></li>
                    <% categoryNames.push(category.name); %>
                  <% } %>
                <% }); %>
              <% }); %>
            </ul>

            
        
            <div class="filters-content">
                <div class="row grid">
                    <% foods.forEach((food) => { %>
                          <div class="col-sm-6 col-lg-4 all <% food.category.forEach((category) => { %> 
                            <%=category.name.toLowerCase()+" ";%><% });%>">
                            
                            <div class="box">
                              <div class="img-box">
                                <img src="/images/f1.png" alt="">
                              </div>
                              <div class="detail-box">
                                <h5><%= food.name %></h5>
                                <p><%= food.description %></p>
                                <div class="options">
                                  <h6><%= food.price %>₺</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% }); %>
                    <!--<div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Pizza</h5>
                                <p>Biber, kabak, mısır, peynir, domates ve fesleğenli pizza. İsteğe bağlı mozarella peyniri ile servis edilir.</p>
                                <div class="options">
                                    <h6>100₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Klasik Burger</h5>
                                <p>Özel hamburger koftesi, kıvırcık, domates, turşu, patates kızartması coslow ve garlic sos ile servis edilir.</p>
                                <div class="options">
                                    <h6>80₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Karışık Pizza</h5>
                                <p>Mantar, kaşar peyniri, domates, sucuk, salam ve sosisli pizza.Dilerseniz ek malzeme ekletebilirsiniz.</p>
                                <div class="options">
                                    <h6>120₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Makarna</h5>
                                <p>Taze sebzeler ve ev yapımı makarna ile hazırlanan bu yemek, hem sağlıklı hem de doyurucu bir seçenektir. </p>
                                <div class="options">
                                    <h6>70₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all fries">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Patates Kızartması</h5>
                                <p>Patates kızartması, hafifçe çıtır çıtır olması ve lezzetli patates içi ile birleşmesi nedeniyle popüler bir seçenektir. </p>
                                <div class="options">
                                    <h6>50₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Leziz Pizza</h5>
                                <p>Mantar, kaşar peyniri, domates, sucuk, salam ve sosisli pizza.Dilerseniz ek malzeme ekletebilirsiniz.</p>
                                <div class="options">
                                    <h6>120₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- end food section -->

    <!-- client section -->
    <section class="client_section layout_padding-bottom client-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>Müşteri yorumları</h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Kaliteli servis, huzurlu ortam.</p>
                                <h6>Mustafa Karan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Mutfagi yavas bir mekan hemen yiyip kalkalim acelemiz var diyorsaniz baya bekleyeceksiniz. Yemekten once zeytinyagli sos ve minik sirin ekmekler getiriyorlar ve ekmeklere ozellikle bayildim!Rosemary burger cok lezzetli,Fiyatlar yeditepe normalinde, porsiyonlar buyuk. Kesinlikle bu çevredeki en iyi alternatif.</p>
                                <h6>Işıl Bıyıkoğlu</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end client section -->
<%- include('partials/footer') %>