<%- include('partials/header') %>
<div class="ratings">
    <!-- food section -->
    <section class="food_section layout_padding food_layout">
        <div class="container">
            <div class="heading_container heading_center">
                <div class="row">
                    <div class="col-lg-5">
                        <h2><%=restaurant.name%></h2>
                            <% let fullStars = Math.floor(averageStars); %>
                            <% let hasHalfStar = averageStars - fullStars >= 0.5; %>
                            <% let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); %>
                            <% for (let k = 0; k < fullStars; k++) { %>
                              <i class="fa fa-star rating-color"></i>
                            <% } %>
                            <% if (hasHalfStar) { %>
                              <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            <% } %>
                            <% for (let k = 0; k < emptyStars; k++) { %>
                              <i class="fa fa-star"></i>
                            <% } %>
                          <% if (averageStars > 0) { %>
                              <p>Puan: <%= Math.floor(averageStars * 10) / 10 %></p>
                          <% } %>
                    </div>
                    <div class="col-lg-5">
                        <p class="restaurant-info"><i class="fa fa-phone-square" aria-hidden="true"></i> <%=restaurant.number%></p>
                        <p class="restaurant-info">Çalışma Saatleri: <%=restaurant.open%> - <%=restaurant.close%></p>
                    </div>
                    <div class="col-lg-2">
                        <a href="<%=restaurant.location%>" target="_blank" class="btn btn-danger location-button"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
                    </div>
                    <!-- <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light Panel title</h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        
            <!--<ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>
                <li data-filter=".burger">Burger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">İçecekler</li>
            </ul>-->


            <ul class="filters_menu">
              <li class="active" data-filter="*">Hepsi</li>
              <% let categoryNames = []; %>
              <% foods.forEach((food) => { %>
                <% food.category.forEach((category) => { %>
                  <% if (category.name && !categoryNames.includes(category.name)) { %>
                    <li data-filter=".<%= category.name.toLowerCase() %>"><%= category.name %></li>
                    <% categoryNames.push(category.name); %>
                  <% } %>
                <% }); %>
              <% }); %>
            </ul>

            
        
            <div class="filters-content">
                <div class="row grid">
                    <% foods.forEach((food) => { %>
                          <div class="col-sm-6 col-lg-4 all <% food.category.forEach((category) => { %> 
                            <%=category.name.toLowerCase()+" ";%><% });%>">
                            
                            <div class="box">
                              <div class="img-box">
                                <img src="/images/<%= food.image %>.png" alt="">
                              </div>
                              <div class="detail-box">
                                <h5><%= food.name %></h5>
                                <p><%= food.content %></p>
                                <div class="options">
                                  <h6><%= food.price %>₺</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                      <% }); %>
                    <!--<div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Pizza</h5>
                                <p>Biber, kabak, mısır, peynir, domates ve fesleğenli pizza. İsteğe bağlı mozarella peyniri ile servis edilir.</p>
                                <div class="options">
                                    <h6>100₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Klasik Burger</h5>
                                <p>Özel hamburger koftesi, kıvırcık, domates, turşu, patates kızartması coslow ve garlic sos ile servis edilir.</p>
                                <div class="options">
                                    <h6>80₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Karışık Pizza</h5>
                                <p>Mantar, kaşar peyniri, domates, sucuk, salam ve sosisli pizza.Dilerseniz ek malzeme ekletebilirsiniz.</p>
                                <div class="options">
                                    <h6>120₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Makarna</h5>
                                <p>Taze sebzeler ve ev yapımı makarna ile hazırlanan bu yemek, hem sağlıklı hem de doyurucu bir seçenektir. </p>
                                <div class="options">
                                    <h6>70₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all fries">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Patates Kızartması</h5>
                                <p>Patates kızartması, hafifçe çıtır çıtır olması ve lezzetli patates içi ile birleşmesi nedeniyle popüler bir seçenektir. </p>
                                <div class="options">
                                    <h6>50₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="/images/f6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Leziz Pizza</h5>
                                <p>Mantar, kaşar peyniri, domates, sucuk, salam ve sosisli pizza.Dilerseniz ek malzeme ekletebilirsiniz.</p>
                                <div class="options">
                                    <h6>120₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- end food section -->

    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>Book A Table</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form action="">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" />
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" />
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button>Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->

    <!-- client section -->
    <section class="client_section layout_padding-bottom client-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>Müşteri yorumları</h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Kaliteli servis, huzurlu ortam.</p>
                                <h6>Mustafa Karan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Mutfagi yavas bir mekan hemen yiyip kalkalim acelemiz var diyorsaniz baya bekleyeceksiniz. Yemekten once zeytinyagli sos ve minik sirin ekmekler getiriyorlar ve ekmeklere ozellikle bayildim!Rosemary burger cok lezzetli,Fiyatlar yeditepe normalinde, porsiyonlar buyuk. Kesinlikle bu çevredeki en iyi alternatif.</p>
                                <h6>Işıl Bıyıkoğlu</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end client section -->
<%- include('partials/footer') %>