<%- include('partials/header') %>
    <!-- offer section -->
    <div class="heading_container heading_center">
        <h2>Restoranlar</h2>
    </div>
    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                                                            <!-- Elif -->
                <% for (let i = 0; i < restaurants.length; i++) { %>
                        <div class="col-md-6  ">
                            <a href="restaurants/<%= restaurants[i]._id %>">
                                <div class="box restoranlar-part">
                                    <div class="img-box">
                                        <img src="images/<%=restaurants[i].image %>" alt="">
                                    </div>
                                    <div class="detail-box restoranlar-detay">
                                        <h2><%=restaurants[i].name %></h2>
                                        <h6>Tel No: <%=restaurants[i].number %></h6>
                                        <h6>Çalışma Saatleri: <%=restaurants[i].open %> - <%=restaurants[i].close %></h6>
                                        <div class="ratings">
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star rating-color"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                                                            <!-- Elif -->
                </div>
            </div>
        </div>
    </section>
    <!-- end offer section -->
<%- include('partials/footer') %>