<%- include('partials/header') %>
<div class="ratings">
    <!-- food section -->
    <section class="food_section layout_padding food_layout">
        <div class="container">
            <div class="heading_container heading_center">
                <div class="row">
                    <div class="col-lg-4">
                        <h2><%=restaurant.name%></h2>
                            <% let fullStars = Math.floor(averageStars); %>
                            <% let hasHalfStar = averageStars - fullStars >= 0.5; %>
                            <% let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); %>
                            <% for (let k = 0; k < fullStars; k++) { %>
                              <i class="fa fa-star rating-color"></i>
                            <% } %>
                            <% if (hasHalfStar) { %>
                              <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            <% } %>
                            <% for (let k = 0; k < emptyStars; k++) { %>
                              <i class="fa fa-star"></i>
                            <% } %>
                          <% if (averageStars > 0) { %>
                              <p>Puan: <%= Math.floor(averageStars * 10) / 10 %></p>
                          <% } %>
                    </div>
                    <div class="col-lg-7">
                        <p class="restaurant-info"><i class="fa fa-phone-square" aria-hidden="true"></i> <%=restaurant.number%></p>
                        <p class="restaurant-info">Çalışma Saatleri: <%=restaurant.open%> - <%=restaurant.close%></p>
                    </div>
                    <div class="col-lg-1">
                        <a href="<%=restaurant.location%>" target="_blank" class="btn btn-danger location-button"><i class="fa-solid fa-location-dot fa-2x"></i></a>
                    </div>
                    <!-- <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light Panel title</h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        
            <!--<ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>
                <li data-filter=".burger">Burger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">İçecekler</li>
            </ul>-->

            <%if(foods.length != 0){%>
                <ul class="filters_menu">
                    <li class="active" data-filter="*">Hepsi</li>
                    <% let categoryNames = []; %>
                    <% foods.forEach((food) => { %>
                        <% food.category.forEach((category) => { %>
                        <% if (category.name && !categoryNames.includes(category.name)) { %>
                            <li data-filter=".<%= category.name.toLowerCase().replace(/\s+/g, '').replace(/[^\w\s]/gi, '') %>"><%= category.name %></li>
                            <% categoryNames.push(category.name); %>
                        <% } %>
                        <% }); %>
                    <% }); %>
                </ul>
            <% } else { %>
                <br><br><br>
                <h1 class="d-flex justify-content-center">HİÇ YEMEK BULUNAMADI</h1>
            <% } %>

            <%if(user){%>
            <% if(user.userType=="restaurant" && user.restaurant._id == restaurant._id){%>
            <div class="add-button">
                <li class="list-inline-item">
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-sharp fa-solid fa-plus"></i> Yemek Ekle
                    </button>
                </li>
            </div>
            <form action="/addFood" method="post" enctype="multipart/form-data">
                <div class="collapse" id="collapseExample">
                    <div class="card card-body input-border">
                        <div class="row">
                            <div class=".col-12 col-md-12 col-lg-4">
                                <input name="name" type="text" placeholder="Yemek adını giriniz." class="form-control input-margin">
                            </div>
                            <div class=".col-12 col-md-12 col-lg-4">
                                <input name="content" type="text" placeholder="Yemek içeriğini giriniz." class="form-control input-margin">
                            </div>
                            <div class=".col-12 col-md-12 col-lg-4">
                                <input name="price" type="text" placeholder="Yemek fiyatını giriniz." class="form-control input-margin">
                            </div>
                            <div class=".col-12 col-md-12 col-lg-6">
                                <select name="base" id="base-select" class="w-100 selectpicker input-margin" title="Yemek kategorisi seçiniz." data-dropup-auto="false" onchange="onBaseSelectChange()" multiple required>
                                    <% baseFoods.forEach(function(baseFood) { %>
                                        <option data-icon="<%= baseFood.icon %>" value="<%= baseFood._id %>"><%= baseFood.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class=".col-12 col-md-12 col-lg-6">
                                <select disabled name="category" id="category-select" class="w-100 selectpicker input-margin" title="Genel yemek kategorisi seçiniz." data-dropup-auto="false" multiple required>
                                </select>
                                <input type="hidden" id="food-select">
                            </div>
                            <input type="hidden" name="restaurantId" value="<%= restaurant._id %>">
                        </div>
                        <br>
                        <div class="custom-file input-image">
                            <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Görsel İçin Dosya Seçin</label>
                        </div>
                        <br>
                        <div class="add-button">
                            <button type="submit" class="btn btn-success">Ekle</button>
                        </div>
                    </div>                
                </div>
            </form>
            <%}%>
            <%}%>

            <div class="filters-content">
                <div class="row grid">
                    <% foods.forEach((food) => { %>
                        <div class="col-sm-6 col-lg-4 all <% food.category.forEach((category) => { %> 
                            <%=category.name.toLowerCase().replace(/\s+/g, '').replace(/[^\w\s]/gi, '')+" ";%><% });%>">
                            <div class="box">
                                <div class="img-box">
                                    <% if (food.image) { %>
                                       <img src="/images/<%= food.image %>" alt="">
                                    <% } else { %>
                                       <i class="fa-solid fa-plate-utensils fa-10x"></i>
                                    <% } %>
                                 </div>
                                 
                                 <div class="detail-box box-size">
                                    <h5><span id="foodName_<%= food._id %>"><%= food.name %></span></h5>
                                    <p><span id="foodContent_<%= food._id %>"><%= food.content %></span></p>
                                    <div class="options">
                                        <h6><span id="foodPrice_<%= food._id %>"><%= food.price %></span>₺</h6>
                                    </div>
                                </div>
                                <%if(user){%>
                                    <% if(user.userType=="restaurant" && user.restaurant._id == restaurant._id){%>
                                    <div class="edit-buttons">
                                        <form action="/foodAction" method="post">
                                            <li class="list-inline-item">
                                                <button class="btn btn-primary btn-sm edit-button" type="button" data-toggle="tooltip" data-placement="top" title="Edit" data-food-id="<%= food._id %>"><i class="fa fa-edit"></i></button>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="hidden" name="action" value="delete">
                                                <input type="hidden" name="foodId" value="<%= food._id %>">
                                                <input type="hidden" name="restaurantId" value="<%= restaurant._id %>">
                                                <button class="btn btn-danger btn-sm" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                            </li>
                                        </form>
                                    </div>
                                    <%}%>
                                <%}%>
                            </div>
                        </div>
                    <% }); %>                   
                </div>
            </div>
        </div>
    </section>
    <!-- end food section -->

    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="row">
                <%if(user){%>
                <% if(user.userType=="user"){%>
                <div class="col-md-3">
                    <div class="heading_container">
                        <h2 class="add-menu">Yorum Yap</h2>
                    </div>
                    <div class="form_container">
                        <form action="/degerlendir" method="post">
                            <div class="center-rate">
                                <textarea required name="comment" class="form-control" placeholder="Yemeğiniz nasıldı?" rows="10" cols="100"></textarea>
                            </div>
                            <div class="center-rate">
                                <label>Lezzet nasıldı?</label>
                                <div class="container mt-200">
                                    <div class="row">  
                                        <div class="col-md-12">
                                            <div class="stars">
                                                <input class="star star-5" id="star-5" type="radio" name="taste" value="5"/>
                                                <label class="star star-5" for="star-5"></label>
                                                <input class="star star-4" id="star-4" type="radio" name="taste" value="4"/>
                                                <label class="star star-4" for="star-4"></label>
                                                <input class="star star-3" id="star-3" type="radio" name="taste" value="3"/>
                                                <label class="star star-3" for="star-3"></label>
                                                <input class="star star-2" id="star-2" type="radio" name="taste" value="2"/>
                                                <label class="star star-2" for="star-2"></label>
                                                <input class="star star-1" id="star-1" type="radio" name="taste" value="1"/>
                                                <label class="star star-1" for="star-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-rate">
                                <label>Hız nasıldı?</label>
                                <div class="container mt-200">
                                    <div class="row">  
                                        <div class="col-md-12">
                                            <div class="stars2">
                                                <input class="star2 star2-5" id="star2-5" type="radio" name="speed" value="5"/>
                                                <label class="star2 star2-5" for="star2-5"></label>
                                                <input class="star2 star2-4" id="star2-4" type="radio" name="speed" value="4"/>                        
                                                <label class="star2 star2-4" for="star2-4"></label>
                                                <input class="star2 star2-3" id="star2-3" type="radio" name="speed" value="3"/>
                                                <label class="star2 star2-3" for="star2-3"></label>
                                                <input class="star2 star2-2" id="star2-2" type="radio" name="speed" value="2"/>
                                                <label class="star2 star2-2" for="star2-2"></label>
                                                <input class="star2 star2-1" id="star2-1" type="radio" name="speed" value="1"/>
                                                <label class="star2 star2-1" for="star2-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-rate">
                                <label>Fiyat nasıldı?</label>
                                <div class="container mt-200">
                                    <div class="row">  
                                        <div class="col-md-12">
                                            <div class="stars3">
                                                <input class="star3 star3-5" id="star3-5" type="radio" name="price" value="5"/>
                                                <label class="star3 star3-5" for="star3-5"></label>
                                                <input class="star3 star3-4" id="star3-4" type="radio" name="price" value="4"/>                        
                                                <label class="star3 star3-4" for="star3-4"></label>
                                                <input class="star3 star3-3" id="star3-3" type="radio" name="price" value="3"/>
                                                <label class="star3 star3-3" for="star3-3"></label>
                                                <input class="star3 star3-2" id="star3-2" type="radio" name="price" value="2"/>
                                                <label class="star3 star3-2" for="star3-2"></label>
                                                <input class="star3 star3-1" id="star3-1" type="radio" name="price" value="1"/>
                                                <label class="star3 star3-1" for="star3-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="error-message"></div>
                            <input type="hidden" name="restaurantId" value="<%=restaurant._id%>">
                            <div class="btn_box">
                                <button onclick="submitRating(event)">Değerlendir</button>
                            </div>
                        </form>
                    </div>
                </div>
                <%}%>
                <%}%>
                <%if(user){%>
                <% if(user.userType=="user"){%>
                    <div class="col-md-9">
                <%}else{%>
                    <div class="col-md-12">
                <%}%>
                <%}%>
                    <!-- client section -->
                    <section class="client_section layout_padding-bottom">
                        <div class="container">
                            <%if(comments.length != 0){%>
                                <div class="heading_container heading_center psudo_white_primary mb_45">
                                    <h2>Müşteri yorumları</h2>
                                </div>
                                <div class="carousel-wrap row ">
                                    <div class="owl-carousel client_owl-carousel">
                                        <% comments.forEach((comment) => { %>
                                            <div class="item">
                                                <div class="box">
                                                    <div class="detail-box">
                                                        <p><%=comment.comment%></p>
                                                        <h6><%=comment.user.name%></h6>
                                                        <%let averageStars = (comment.star.speed+comment.star.taste+comment.star.price)/3; %>
                                                        <% let fullStars = Math.floor(averageStars); %>
                                                        <% let hasHalfStar = averageStars - fullStars >= 0.5; %>
                                                        <% let emptyStars = 5 - fullStars - (hasHalfStar ? 1 : 0); %>
                                                        <% for (let k = 0; k < fullStars; k++) { %>
                                                        <i class="fa fa-star rating-color"></i>
                                                        <% } %>
                                                        <% if (hasHalfStar) { %>
                                                        <i class="fa-solid fa-star-half-stroke rating-color"></i>
                                                        <% } %>
                                                        <% for (let k = 0; k < emptyStars; k++) { %>
                                                        <i class="fa fa-star"></i>
                                                        <% } %>
                                                    <% if (averageStars > 0) { %>
                                                        <p>Puan: <%= Math.floor(averageStars * 10) / 10 %></p>
                                                    <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </section>
                    <!-- end client section -->
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->
<%- include('partials/footer') %>